@use '../App' as *;

@media screen and (min-width: 350px) and (max-width: 900px){
    .login-container{
        display: none;
    }
}

@media screen and (min-width: 900px){

    .login-container{
        @include horizontal-align(100%, 100%, 0px);

        .loader{
            @include horizontal-align(100%,100%,0px);
            background: linear-gradient(135deg, rgba(42,26,94,1) 0%, rgba(106,90,205,1) 100%);
            position: absolute;
            z-index: 5;

            img{
                height: 20%;
                width: auto;
                opacity: 0.85;
                filter: drop-shadow(0 0 10px rgba(0,0,0,0.4));
                animation: animation-logo 1s ease-in-out infinite alternate;
            }

            @keyframes animation-logo {
                0% { transform: rotate(30deg); }
                100% { transform: rotate(-20deg); }
            }
        }
    
        .login-form{
            @include opacity5-element();
            @include vertical-align(625px, 400px, 50px);
            
            .vocabary-logo{
                height: 190px;
                width: auto;
                position: absolute;
                top: -115px;
                left: -105px;
            }
            
            .user-text{
                @include image-text-inputs("../../public/img/emailIcon.svg", calc(10px), calc(50% + 4px));    
            }
            
            .password-text{
                @include image-text-inputs("../../public/img/passwordIcon.svg", calc(10px), calc(50% + 2px));
            }
            
            .remember-password-container{
                width: 60%;
                display: flex;
                margin-top: 30px;
                justify-content: space-between;
                padding: 0 8px;

                .remember-me{
                    @include horizontal-align(auto, auto, 0px);
                }

                .forgot--password{
                    cursor: pointer;
                }
            }
            
            .login-button{
                @include opacity20-element();
                @include medium-button();
            }
            
            .login-button:hover{
                @include opacity50-element();
            }
            
            .login-button:active{
                @include button-active();
            }
            
            .sign-up-button{
                margin-top: 15px;
                background: none;
                border: none;
                color: white;
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}

